
.cart-img {
	width: 6em;
}
.cart-list {
	list-style-type: none;
	display: flex;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
}
.cart-item {
	display: flex;
	flex-direction: row;
	min-width: 20em;
	margin: 0.5em;
	border: 1px solid #E9EAEC;

}
.cart-text {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.empty-cart {
	height: 30vh;
}
.addOrRemove {
	display: flex;
}
.cart-btns {
	display: flex;
}