
@import './root.css';

.userlist-container {
	display: flex;
	flex-direction: column;
}
.userlist-card {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	list-style-type: none;
	width: 30em;
	background-color: var(--background-white);
	padding: 2em;
	border: 1px solid var(--dark-grey);
	margin: 1em;
	height: 6em;
}
.user-span {
	font-weight: bold;
}
.user-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
}
.user-add-btn {
	margin: 0;
}
.del-user-loader {
	width: 5em;
}
