:root {
	--background-grey: #E9EAEC;
	--background-white: #fafafa;
	--dark-grey: #292A2F;
	--lighter-grey: #3A3E47;
	--standard-font: 'Poppins', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	font-family: var(--standard-font);
	box-sizing: border-box;
}

body {
	background-color: var(--background-grey);
	height: 100vh;
}



/* Main */
.no-results {
	grid-column: 1 / -1; /* Spänner över alla kolumner */
	text-align: center;
	margin-top: 20px;
	text-decoration: none;
	list-style-type: none;
  }
  

